.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 40vw
}

@media (max-width:400px) {
    .card {
        width: 90vw;
        height: 90vh;
    }
}