<div class="row mt-3 mb-3">
  <div class="col">
    <h2>CONFIGURAÇÕES DO CONDOMÍNIO</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Nome do condomínio</label>
          <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="condominio.nome">
        </div>
        <div class="form-group">
          <label>Endereço</label>
          <input type="text" class="form-control" placeholder="Endereço" [(ngModel)]="condominio.endereco">
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary pull-right">Atualizar dados</button>
          </div>
        </div>
        <hr>
        <label>Código de cadastro</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Código de cadastro" aria-label="Código de cadastro"
            aria-describedby="button-addon2" [(ngModel)]="condominio.codigo">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="button-addon2">Renovar código</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>